@use "~inter-ui/default" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/Inter (web)'
);
@use "~inter-ui/variable" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/Inter (web)'
);
@include default.all;
@include variable.all;

html { font-family: "Inter", "system-ui"; }

@supports (font-variation-settings: normal) {
  html { font-family: "Inter var", "system-ui"; }
}

*, *::before,  *::after {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  user-select: none;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  outline: 1px solid #111;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,
p,
textarea,
select,
input,
button {
    font-family: inherit;
}

fieldset,
legend {
    appearance: none;
    border: none;
    padding: 0;
    margin: 0;
    min-width: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
